span.pb {
    visibility: visible;
    line-height: inherit;
    display: block;
    position: absolute;
    left: -1.5rem;
    width: 1.5rem;
    margin-top: var(--default-line-height-negative);
}

span.pb::before {
    display: block;
    opacity: 0.5;
    font-weight: bold;
    font-size: inherit;
    color: black;
    content: "|"var(--beginning_page)"|";
    text-align: right;
}

span.pb_marker {
    color: grey;
}

span.pb_marker::after {
    content: "|";
    padding: 0 1rem;
}

div.card-body.non_mimetic_lbs p {
    text-align: justify!important;
    hyphens: auto;
}

div.card-body {
    position: relative;
    padding: 1rem;
}

#container-resize h2.section {
    padding-top: 1rem;
    margin-top: 3rem;
    padding-bottom: 1rem;
    line-height: 2rem;
    margin-left: -1rem;
    font-size: large;
}

#container-resize h3.section {
    padding-top: 0rem;
    padding-bottom: 1rem;
    line-height: 2rem;
    margin-left: -0.5rem;
    margin-top: 1rem;
}


#container-resize h3.section.alone {
    padding-top: 3rem;
    padding-bottom: 1rem;
    line-height: 2rem;
    margin-left: -0.5rem;
    margin-top: 1rem;
}

#container-resize ul>li {
    max-width: 25rem;
}

#container-resize ul {
    list-style-type: none;
    padding: 0 2rem;
}

#container-resize a.org {
    background-color: lightgrey;
    display: inline-block;
    border-radius: 10px;
    padding: 0 0.4rem;
    margin: none;
}