div.commentary_container{
    margin: auto;
    padding-top: 1rem;
}


div.commentary_container *{
    max-width: 43rem;
}

div.commentary_container > div {
    margin-left: auto;
    margin-right: auto;
}

div.editorialChapter {
    border: red;
    padding-top: 2rem;
}

div.footnote_container {
    width: 100%;
    column-count: 2;
    column-gap: 1rem;
    padding: 1rem 0 1rem 0;
    border-top: 0.3rem solid var(--bv-big-highlight);
    margin-top: 6rem;
    margin-bottom: 0;
    padding-top: 2rem
}

div.footnote_container div.footnote {
    padding-right: .5rem;
    padding-top: .2rem;
}

div.footnote_container div.footnote_text p {
    font-size: .8rem;
    line-height: var(--footnote-line-height);

}

div.footnote {
    display: flex;
    flex-direction: row;
}

div.footnote_container div.footnote_number {
    min-width: 2rem;
    padding-right: .5rem;
    text-align: end;
}

div.footnote_number a{
    font-size: .8rem;
    line-height: var(--footnote-line-height);
    text-align: end;
    vertical-align: top;
}

div.footnote p {
    padding: 0;
}

h2 {
    padding-bottom: 1.5rem;
}

:target {
    background-color: rgba(var(--bv-big-highlight-rgb), .1);
    scroll-margin-top: 100px;
}