/* ############################
 * ############################
 * EDITIONS view properties 
 * ###########################*/

ul#edition_display_options > li {
  padding-bottom: .75rem;
}

ul#edition_display_options > li:nth-child(3) {
  padding-top: 3rem;
}

.fade {
  display: none;
}

/*facs button */
image-switch a#es {
  background-color: rgba(var(--bv-big-highlight-rgb),0.5) !important;
  border: none;
}

image-switch a#es.active {
  background-color: var(--bv-big-highlight)!important;
  border: none;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  /* opacity: 0; */
  width: 0;
  height: 0;
  display: none;
}

/* The slider */
.i-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bv-main-background-color);
  border: 1px solid;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

/* slider bullet */
.i-slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 2px;
  background-color: var(--bv-darker-lightgray);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.i-slider::after {
  padding-left: 0.5rem;
}

input:checked + .i-slider {
}

input:focus + .i-slider {
  box-shadow: 0 0 1px #f1f1f1;
}

input:checked + .i-slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.i-slider.round {
  border-radius: 20px;
}

.i-slider.round:before {
  border-radius: 50%;
}

/* accumulated element number next to slider */
.slider-number::after {
  content: "(" attr(data) ")";
  color: #444;
  display: block;
  width: 50px;
  margin-left:3em;
}

.strikethrough {
  text-decoration: line-through;
}

.whitespace {
}

.underline {
  text-decoration: underline;
}

.italic {
  font-style: italic;
}

.red {
  background-color: #ffe6e6;
}

.blue {
  background-color: #e1d4ff;
}

.white {
  background-color: #ffffff;
}

.grey {
  background-color: #f1f1f1;
}

.green {
  background-color: #c9ffcf;
}

.yellow {
  background-color: #FBFF9F;
}

.lila {
  background-color: #EF9FFF;
}

.badge-item {
  border-radius: 0.25rem;
}

.badge-link {
  border-radius: 0.25rem;
  padding: 0.2em;
  margin: 0 0.1em;
}

.badge-link:hover {
  color: #b59890;
}

.loader {
  position: absolute;
  top: 10%;
  left: 50%;
  border: 8px solid #f1f1f1; /* Light grey */
  border-top: 8px solid #88dbdf;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  animation: spin 2s linear infinite;
  margin: 5em auto;
}

/* font styles and sizes */

.times-new-roman {
  font-family: "Times New Roman", serif !important;
}
.courier-new {
  font-family: "Courier New", monospace !important;
}

.arial-serif {
  font-family: "Arial", serif !important;
}

.font-size-26 {
  font-size: 26px !important;
}

.font-size-22 {
  font-size: 22px !important;
}

.font-size-18 {
  font-size: 18px !important;
}

.font-size-14 {
  font-size: 14px !important;
}

/* for fontfield */
select#fs {
	background-color: var(--bv-main-bg-color);
}
.form-select:focus {
	border-color: #86b7fe;
	outline: 0;
	box-shadow: 0px 0.1rem 0.4rem var(--bv-big-highlight);
}