:root {
    --bv-main-bg-color: #f8f9ec;
    --bv-small-highlight: rgb(156, 156, 156);
    --bv-darker-lightgray: rgb(212, 212, 212);
    --bv-big-highlight-rgb: 0, 116, 82;
    /*#007452*/
    --bv-big-highlight: rgb(var(--bv-big-highlight-rgb));
    --bv-contrast-rgb: 239, 241, 94;
    --bv-contrast: rgba(var(--bv-contrast-rgb), 0.965);
    --bv-transp-red: 255, 1, 1;
    --default-line-height: 1.6rem;
    --default-line-height-negative: -1.6rem;
    --footnote-line-height: 1.3rem;
    --footnote-top-padding: .3rem;
    --footnote-bottom-padding: 1rem;
    /*
        --top-offset: 1rem;
        could be set via 
        document.documentElement.style.setProperty("--main-background-color", "green");
    */
}

*,
:after,
:before {
    box-sizing: border-box;
}

:root * {
    font-family: 'IBM Plex Sans', sans-serif;
}


body {
    background-color: var(--bv-main-bg-color);
}

span {
    display: inline;
}

a {
    color: var(--bv-big-highlight);
}




/* START page with xml documentation */
div.container.xmldocumentation {
    margin: 2rem auto;
    max-width: 60rem;
    display: flex;
    flex-direction: row;
    overflow-wrap: break-word;
    overflow: hidden;
    resize: none;
}

div.container.xmldocumentation div {
    padding-top: 2rem;
}

div.container.xmldocumentation div h1 {
    padding-top: 2rem;
    padding-bottom: 1rem;
}

div.container.xmldocumentation div h2 {
    padding-bottom: 1rem;
}

div.container.xmldocumentation * {
    overflow-wrap: break-word;
    overflow: hidden;
    resize: none;
}

div.container.xmldocumentation ul.toc.toc_body {
    margin-bottom: 2rem;
    margin-left: 2rem;
    padding-right: 2rem;
    min-width: 20rem;
    max-width: 25rem;
}

div.container.xmldocumentation :target {
    background-color: var(--bv-main-bg-color);
}

/* END page with xml documentation */

/*left align any content text per default*/
div.container p {
    text-align: justify;
    hyphens: auto;
    line-height: var(--default-line-height);
}

p.legal_section.numbered {
    margin-left: 2rem;
}

span.number_label {
    padding-right: .25rem;
    margin-left: -2rem;
    text-align: right;
}

button#media-menu-toggler {
    border: none;
    box-shadow: none;
    padding: 0;
}

button#media-menu-toggler:hover {
    border: none;
    box-shadow: 0 0 0 var(--bs-navbar-toggler-focus-width) var(--bv-main-bg-color);
}

div#wrapper-navbar {
    pointer-events: none;
}

#wrapper-navbar * {
    pointer-events: initial;
}

.navbar {
    background-color: var(--bv-big-highlight);
    max-height: 15vh;
}

.navbar.navbar-expand-lg {
    padding: 0.5rem;
}

.navbar-nav,
.nav-item,
a.nav-link {
    color: var(--bv-main-bg-color);
}

nav.navbar div {
    background-color: var(--bv-big-highlight);
}

#navbarSupportedContent a.nav-link {
    font-size: 1.7rem;
    font-weight: 900;
}

.navbar-nav ul li a {
    background-color: var(--bv-big-highlight);
    color: var(--bv-main-bg-color);
    font-size: 1.3rem;
    font-weight: bold;
}

.navbar-nav ul li a:hover,
.navbar-nav ul li a:active {
    background-color: var(--bv-big-highlight);
    color: var(--bv-contrast);
}

.nav-link:focus,
.nav-link:hover {
    color: var(--bv-contrast);
}

div#navbarSupportedContent div#navbar_right_spacer {
    min-width: 10%;
    max-width: 30rem;
}

.dropdown-toggle::after {
    display: none;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--bv-big-highlight);
    --bs-btn-border-color: var(--bv-big-highlight);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--bv-big-highlight);
    --bs-btn-hover-border-color: var(--bv-big-highlight);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--bv-big-highlight);
    --bs-btn-active-border-color: var(--bv-big-highlight);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--bv-big-highlight);
    --bs-btn-disabled-border-color: var(--bv-big-highlight);
    color: white;
    fill: white;
}


li.mb-1>button {
    font-weight: bolder;
}

div#edtion-navBarNavDropdown a {
    overflow: hidden;
    text-overflow: ellipsis ellipsis;
}

div#edtion-navBarNavDropdown li {
    overflow: hidden;
    text-overflow: ellipsis ellipsis;
}

#left_edition_content_nav li {
    padding-left: 1rem;
}


ul#left_edition_content_nav li.mb-1 ul li button {
    overflow: hidden;
    text-overflow: ellipsis ellipsis;
    margin-left: .25rem;
    padding-left: 0;
    text-align: left;
}

/* nav elements representing articles */
ul#left_edition_content_nav li.mb-1 ul li a {
    font-size: .8rem;
}

cite {
    font-style: normal;
}

#wrapper-hero-content {
    padding: 0;
}

.intro {
    background-color: var(--bv-main-bg-color);
}


div.docinfo {
    font-weight: 600;
    margin-bottom: 0.35rem;
}

div.docinfo h1 {
    width: fit-content;
    max-width: 40rem;
    padding-top: 1rem;
    font-size: 2.5rem;
    font-weight: 800;
    padding-left: 0;
}

div.revision_desc {
    width: fit-content;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    margin: 0.5rem 0rem;
    color: var(--bv-main-bg-color);
    font-weight: 600;
    font-size: 0.8rem;
    /*border-radius: 8px;*/
}

div.revision_desc.created {
    color: var(--bv-main-bg-color);
    /*background-color: gray !important;*/
    background-color: rgba(var(--bv-transp-red), 0.6) !important;
}


div.revision_desc.structured {
    color: gray;
    /* color: var(--bv-main-bg-color); */
    /*background-color: gray !important;*/
    background-color: rgba(var(--bv-contrast-rgb), 0.8) !important;
}


div.revision_desc.text_correct,
div.revision_desc.done {
    color: var(--bv-main-bg-color);
    /*background-color: gray !important;*/
    background-color: rgba(var(--bv-big-highlight-rgb), 0.6) !important;
}

.docinfo .document_info {
    max-width: 40rem;
    font-size: 1.5rem;
}

.docinfo .document_info.archival_small {
    max-width: 40rem;
    font-size: 1rem;
    margin-bottom: 0;
    line-height: 1.5rem;
}


#edition_metadata div {
    background-color: transparent;
    hyphens: auto;
}

#edition_metadata div.row {
    margin: 0;
}

#edition_metadata div.edition_metadata_button {
    width: fit-content;
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin: 0.5rem 1.25rem 0.5rem 0;
    color: var(--bv-main-bg-color);
    background-color: var(--bv-big-highlight);
}

#edition_metadata div.edition_metadata_button:last-child {
    /*background-color: rgba(var(--bv-transp-red), 0.6);*/
    background-color: var(--bv-big-highlight);
}

div.edition_metadata_button a {
    color: var(--bv-main-bg-color);
    font-weight: 600;
    font-size: 1.25rem;
}

div.offcanvas div {
    background-color: var(--bv-main-bg-color);
}

.intro .col-md-6 {
    padding: 0;
    align-items: center;
    vertical-align: middle;
    display: flex;
}

.landing_container {
    display: flex;
    align-items: center;
    vertical-align: middle;
    padding-bottom: 2rem;
}

.landing_text {
    display: block;
    margin: auto;
    max-width: 45em;
}

/*.landing_text object {*/
.landing_text embed {
    max-width: 100%;
    max-height: 100%;
    width: 350vh;
}

.landing_text h1,
h5 {
    padding: .5em 0;
}

.landing_text a {
    display: inline-block;
    /*padding: .5em .5em .5em 0;*/
}

.landing_text p {
    hyphens: auto;
}

body {
    border-top-width: 0;
    min-height: 100vh;
    display: flex;
    overflow-x: hidden;
}

p {
    display: block;
    padding: 0;
    width: fit-content;
}

div.image_rights {
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: fit-content;
    font-size: small;
    max-width: 40rem;
}

div.image_rights div {
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: fit-content;
    font-size: x-small;
    padding-right: 0;
}

div button.osd_nav_element {
    color: var(--bv-main-bg-color);
    background-color: var(--bv-big-highlight);
    box-shadow: none;
    border: 0;
    padding: 0;
    margin: 0;
    font-size: 3rem;
    font-weight: 800;
    height: 3rem;
    text-align: center;
    line-height: 3rem;
    margin-left: 0.5rem;
    border-radius: 3px;
    width: 3rem;
}


div button#osd_zoom_reset_button.osd_nav_element svg,
div button#osd_next_button.osd_nav_element svg,
div button#osd_prev_button.osd_nav_element svg {
    margin: 0 auto;
    display: block;
}

div button#osd_next_button.osd_nav_element,
div button#osd_prev_button.osd_nav_element {
    padding: 0.5rem 0.3rem;
}

div.image_rights p {
    margin: auto;
    max-width: 70em;
    hyphens: auto;
    text-align: justify;
    display: inline-block;
}

a {
    text-decoration: none !important;
}

.site>* {
    width: 100%;
}

.site {
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    flex-grow: 1;
    max-width: 100%;
}

.container {
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
}

#container-resize {
    justify-content: center;
}

.edition_container {
    width: 100%;
    background-color: var(--bv-main-bg-color);
}

.edition_container div {
    background-color: inherit;
}

.edition_container p {
    text-align: left !important;
}

.container-fluid {
    max-width: 1800px;
}

.container-fluid-smaller {
    max-width: 40rem;
}

div#main_navbar_flex_container {
    max-width: 100%;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.smallcaps {
    text-transform: uppercase;
    letter-spacing: .5em;
}

div.meta_text {
    display: None;
}

div.meta_text.display_comment {
    display: block !important;
    height: fit-content;
    max-width: 25rem;
    width: 100%;
    font-size: small;
    background: lightgray;
    padding: .3rem;
    margin-left: 2.5rem;
    text-align: justify;
    hyphens: auto;
}


/* handle corr */

span.corr.sic {
    display: inline;
}

span.corr.sic.correction_view {
    display: none;
}

span.corr.conjectur {
    display: none;
}

span.corr.conjectur.correction_view {
    display: inline;
}


/* handle dels */

div.del.text_genetic,
span.del.text_genetic {
    display: none;
}

div.del.text_genetic.genetic_view {
    display: block;
    margin: 1rem;
    text-decoration: line-through solid black;
}

div.del.text_genetic.genetic_view * {
    text-decoration: line-through solid black !important;
}

span.del.text_genetic.genetic_view {
    display: inline;
    text-decoration: line-through solid black;
}

/* handle adds */
div.add.text_genetic.genetic_view p {
    margin-bottom: 0;
}

div.add.text_genetic.genetic_view {
    padding: .5rem;
    margin-bottom: 1rem;
}

/* css */
div#short_title {
    display: none;
}

div#short_title.display_title {
    overflow: hidden;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    position: relative;
    top: .5rem;
    display: block;
    height: 35rem;
    max-height: 33vh;
    margin-right: 1rem;
    background-color: var(--bv-big-highlight);
    padding: 1rem;
}

div#short_title h4 {
    writing-mode: vertical-rl;
    color: var(--bv-main-bg-color);
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* hyphens: auto; */
    font-size: 1rem;
    padding: 0;
    margin: 0;
    line-height: 1.4rem;
}

div#short_title.display_title:hover,
div#short_title.display_title:active {
    width: fit-content;
}

div#short_title h4:hover {
    width: fit-content;
    height: fit-content;
    white-space: unset;
}

#viewer {
    position: sticky;
    top: 10%;
    padding: 0 2em 0 4.5rem;
    max-width: 900px;
    margin-left: auto;
}

/* entities */
.entity {
    cursor: pointer;
}

.entity-table {
    margin: 4em auto;
}

.entity-table tbody tr td,
.entity-table tbody tr th {
    border: none;
}

.entity-table tbody tr th {
    border-right: 1px solid lightgrey;
}

.modal-body table tbody tr th,
.modal-body table tbody tr td {
    border: none;
}

#wrapper-footer-full {
    border-top: 0.3rem solid var(--bv-big-highlight);
    margin-top: auto;
    display: flex;
    background-color: var(--bv-main-bg-color);
    z-index: 1;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#wrapper-footer-full div div a img {
    max-width: 200px;
    height: auto;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

div#wrapper-footer-secondary {
    text-align: center;
    padding: 0.4rem 0;
    font-size: 0.9rem;
    background-color: var(--bv-big-highlight);
    color: var(--bv-main-bg-color);
}

div#wrapper-footer-secondary a {
    color: var(--bv-main-bg-color);
}


hr {
    visibility: collapse;
    margin: 0rem;
}

a.anchorFoot {
    position: relative;
    top: -110px;
    visibility: hidden;
}

.footnote_link {
    display: inline-block;
    width: 2em;
    text-align: right;
    margin: 0 .7em 0 -2.7em;
}

.footnotes li {
    list-style: none;
    padding: .3em 0;
}

.footnotes {
    padding: 1em;
}

.wp-transcript {
    margin: 2em auto;
    margin-top: 0;
}

#edition_metadata {
    padding: 1rem;
    padding-left: 4rem;
    background-color: rgba(var(--bv-big-highlight-rgb), 0.2);
    margin-bottom: 2rem;
}

.wp-transcript .card-header {
    padding: 2em 0;
}

#editor-widget {
    position: fixed;
    right: 10%;
    max-width: 100px;
    padding: .5em;
    background-color: var(--bv-big-highlight);
    color: #fff;
    border-radius: 1rem;
    box-shadow: 4px 4px 9px 0 rgba(0, 0, 0, .1);
    z-index: 2;
}


.navBarNavDropdown {
    position: relative;
    display: block;
    text-align: left;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.dropdown-menu {
    height: fit-content !important;
    max-height: 800px !important;
    overflow-x: hidden !important;
}

a.nav-link.dropdown-toggle {
    border-left: 0.2rem solid transparent;
}

a.nav-link.dropdown-toggle.show,
a.nav-link.dropdown-toggle:active {
    border-left: 0.2rem solid var(--bv-contrast);
    color: var(--bv-contrast);
}

li ul.dropdown-menu.show {
    background: var(--bv-big-highlight);
    /*color: var(--bv-main-bg-color);*/
    color: var(--bv-main-bg-color);
    border: none;
    border-left: 0.2rem solid var(--bv-contrast);
    margin-top: 0;
    border-radius: 0;
}

#chapter_navigation {
    max-width: 20rem;
}

#chapter_navigation a {
    white-space: normal !important;
    hyphens: auto;
}

.bi-journals {
    color: #fff;
    fill: #fff;
}

.bi-book {
    color: #fff;
    fill: #fff;
}

.bi-pencil-square {
    color: #fff;
    fill: #fff;
}

.fas {
    color: var(--bv-big-highlight);
}

#text-resize {
    min-height: 600px;
}

.navBarNavDropdown a {
    position: relative;
    display: block;
}

/*chapter navigation*/
.section_ref>a {
    font-weight: bolder;
    padding-left: 0.75rem;
    padding-top: 0.25rem;
}

.section_ref>ul {
    padding-left: 0.5rem;
}

li.article_ref:first-child {
    padding-top: 0. 5rem;
}

li.article_ref:last-child {
    padding-bottom: 1rem;
}

.article_ref>a {
    font-weight: normal;
    padding-left: 1.5rem;
}

#staticSearch {
    padding: 2em;
}

/* transcription quality disclaimer */

body.page>div#text_quality_disclaimer {
    hyphens: auto;
    background: gray;
    color: white;
    left: 50%;
    top: 50%;
    width: 40rem;
    opacity: 0.9;
    height: fit-content;
    margin-left: -20rem;
    margin-top: -25vh;
    padding: 2rem;
}

body.page>div#text_quality_disclaimer div {
    background: gray;
}

/**** Font Aweseome ***/
/* don't remove this or the download icon breaks !!!*/
h3 a i.fas {
    font-family: "Font Awesome 5 Free" !important;
}

.img-fluid {
    height: 5vh;
}

.card {
    margin: 2em auto;
    box-shadow: 4px 4px 9px 0 rgba(0, 0, 0, .1);
    background-color: var(--bv-main-bg-color);
}

.img_bottom {
    padding: 6em 0;
    margin: 0 auto;
}

.img_bottom .col-md-6 {
    padding: 2em;
}

.index-card {
    margin-top: 0 !important;
    box-shadow: none !important;
    transition: transform .2s;

}

/*.card-body img {
    border-radius: .35rem .35rem 0 0;
}*/

.index-card .card-header {
    background-color: transparent;
    border: none;
    color: var(--bv-big-highlight);
}

/* default: display no linebreaks */

div#text-resize div.card-body.mimetic_lbs {
    max-width: 55rem;
}

div#text-resize div.card-body.non_mimetic_lbs {
    max-width: 40rem;
}


span.pb {
    visibility: visible;
    line-height: inherit;
    display: inline-block;
    position: absolute;
    left: -1.5rem;
    scroll-margin-top: 100px;
    /* width: 1.5rem;
    margin-top: var(--default-line-height-negative); */
}

span.pb::before {
    display: inline-block;
    opacity: 0.5;
    font-weight: bold;
    font-size: inherit;
    color: black;
    content: "|" var(--beginning_page)"|";
    text-align: right;
}

span.pb_marker {
    color: grey;
    font-size: inherit;
}

span.pb_marker::after {
    content: "|";
    font-size: inherit;
}

span.historical_pagecounter {
    display: none;
}

span.historical_pagecounter.hpc_visible {
    color: grey;
    display: inline;
}

span.historical_pagecounter.hpc_visible::before {
    content: "//";
}

span.historical_pagecounter.hpc_visible::after {
    content: "//";
}

.card-body {
    background-color: transparent;
    border: none;
    padding: 0;

}

p {
    display: block;
}


/*
add whitespace to end of doc to scroll last page into view
*/

div#text-resize>div#section:last-child {
    padding-bottom: 95vh;
}


/* experimental */
div.card-body.non_mimetic_lbs p {
    text-align: justify !important;
    hyphens: auto;
}

div.card-body {
    position: relative;
    padding: 1rem;
}


/* ############## */
/* headings (edition content) START */
/* spacing is solved via parent containers */

div.section :is(h2, h3, h4, h5) {
    font-size: 1.5rem;
    display: block;
}

div.article :is(h2, h3, h4, h5) {
    margin-bottom: .75rem;
    font-size: medium;
    font-weight: bold;
}

div.section+div.section {
    margin-top: 1.25rem;
}

/* headings END */
/* ############ */
div.section {
    padding-top: 3rem;
    padding-left: 1rem;
}

div.section>div.section {
    padding-top: 1.5rem;
    padding-left: 1rem;
}

div.article {
    padding-left: 1rem;
    padding-top: 1.25rem;
}

#container-resize ul>li {
    max-width: 25rem;
}

#container-resize ul {
    list-style-type: none;
    padding: 0 0 0 3rem;
}

#container-resize a.org {
    background-color: lightgrey;
    display: inline-block;
    /*border-radius: 10px;*/
    padding: 0 0.4rem;
    margin: none;
}

/*
####################################
proposed mobile resolution handling
####################################
*/
@media (max-width: 1920px) {
    #editor-widget {
        right: 5%;
    }

    /* 
#########################################
add rules for HD screen resolution
#########################################
*/
}

@media (max-width: 1200px) {
    #editor-widget {
        right: 1%;
        top: 12%;
    }

    /* 
#########################################
add rules for screen medium to low
resolution
#########################################
*/
}

@media (max-width: 1024px) {

    #container-resize {
        justify-content: left;
    }

    nav.navbar.navbar-expand-lg div {
        order: 3
    }

    nav.navbar.navbar-expand-lg div:first-child {
        order: 2
    }

    nav.navbar.navbar-expand-lg #main_navbar_flex_container {
        order: 1;
        /*border-bottom: var(--bv-main-bg-color) solid 0.1rem;*/
        padding-bottom: 0.5rem;
    }
}

/* 
#########################################
add rules for smallest tablet high
resolution or low resolution screens
#########################################
*/

/* START media defs for page with xml documentation */
@media (max-width: 50rem) {
    div.container.xmldocumentation {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    }

    div.container.xmldocumentation ul.toc.toc_body {
        margin-bottom: 2rem;
        margin-left: 1rem;
        padding-right: 1rem;
    }
}

/* END page with xml documentation */

@media (max-width: 810px) {
    .facsimiles {
        display: none;
    }

    #text-resize {
        padding-left: .5rem;
        padding-right: .5rem;
        margin-right: .5rem;
    }

    div#short_title.display_title {
        display: none;
    }

    .wp-transcript {
        padding: 0 2rem 0 2rem;
    }

    #edition_metadata {
        margin-left: -2rem;
        margin-right: -2rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .img_bottom {
        padding: 1em;
    }

    .img_bottom .col-md-6 {
        padding: 0;
    }

    .intro {
        height: auto;
    }

    #wrapper-footer-full {
        padding: 1em 0;
    }

    nav.navbar.navbar-expand-lg div {
        order: 3
    }

    nav.navbar.navbar-expand-lg div:first-child {
        order: 2
    }

    nav.navbar.navbar-expand-lg #main_navbar_flex_container {
        order: 1;
        /*border-bottom: var(--bv-main-bg-color) solid 0.1rem;*/
        padding-bottom: 0.5rem;
    }

    /* 
#########################################
add rules for smallest smartphones 
high resolution or tablet regular resolution
#########################################
*/
}

@media (min-width: 768px) {
    .col-md-6 {
        flex: 0 0 auto;
        min-width: 30rem;
        width: 50%;
    }
}


@media (max-width: 575px) {
    br {
        display: none;
    }

    li a br {
        display: block !important;
    }

    .dropdown-menu li a {
        max-width: 500px;
        overflow: hidden;
    }

    body.page>div#text_quality_disclaimer {
        left: 50%;
        top: 50%;
        width: 40rem;
        max-width: 100%;
        margin-left: -50%;
        margin-top: -50%;
    }

    /* 
#########################################
add rules for smallest smartphones 
regular resolution
#########################################
*/
}

@media (max-width: 480px) {
    .dropdown-menu li a {
        max-width: 400px;
        overflow: hidden;
    }

    body.page>div#text_quality_disclaimer {
        left: 50%;
        top: 50%;
        width: 40rem;
        max-width: 100%;
        margin-left: -50%;
        margin-top: -50%;
    }

    /* 
#########################################
add rules for smallest smartphones 
low resolution
#########################################
*/
}

/* target offset for any element */
:target {
    background-color: gray;
    scroll-margin-top: 100px;
}