span.pb {
    visibility: visible;
    line-height: 1rem;
}

hr {
    visibility: visible;
}

hr[n='1'] {
    display: none;
}

hr {
    /*all: initial;*/
    color: grey;
    opacity: 1;
}

hr {
    margin: auto;
    border-top: 0.15rem solid rgba(128, 128, 128, 0.6);
    max-width: 11rem;
}

span.pb:not([n='1'])::before,
hr::after {
    text-align: center;
    display: block;
    margin: 0;
    color: grey;
    padding: 0.3rem 0;
    font-size: 0.7rem;
}

span.pb:not([n='1'])::before {
    content: var(--page_before);
    opacity: 0.6;
}

hr::after {
    content: var(--beginning_page);
    color: grey;
}

div.card-body.non_mimetic_lbs p {
    text-align: justify!important;
    hyphens: auto;
}